<h1><%= "#{@user.username}'s Page"%></h1>

<div>
  <div>
    <h2><%= "#{@user.username.capitalize}'s Created Events" %></h2>
    <% @user.created_events.each do |event| %>
      <div class='event-listing'>
        <h3><%= event.title %></h3><br>
        <p><%= event.description %></p>
        <p><%= event.date.strftime("%m/%d/%Y")%></p>
        <%= link_to 'Go to Event', event_path(event.id) %>
      </div>
    <% end %>
  </div>
</div>
